<table>
	<tr>
		<td>
			<%= @redline1["direction"][0]["direction_name"] %>
			<% @redline1["direction"][0]["stop"].each do |stop| %>
				<p><a href="red/<%= stop["parent_station"] %>"><%= stop["parent_station_name"] %></a></p>
			<% end %>
			</td>
			<td>
			<%= @redline1["direction"][1]["direction_name"] %>
			<% @redline1["direction"][0]["stop"].each do |stop| %>
				<p><a href="red/<%= stop["parent_station"] %>"><%= stop["parent_station_name"] %></a></p>
			<% end %>
		</td>
		<td>
			<%= @redline2["direction"][0]["direction_name"] %>
			<% @redline2["direction"][0]["stop"].each do |stop| %>
				<p><a href="red/<%= stop["parent_station"] %>"><%= stop["parent_station_name"] %></a></p>
			<% end %>
		</td>
		<td>
			<%= @redline2["direction"][1]["direction_name"] %>
			<% @redline2["direction"][0]["stop"].each do |stop| %>
				<p><a href="red/<%= stop["parent_station"] %>"><%= stop["parent_station_name"] %></a></p>
			<% end %>
		</td>
	</tr>
</table>